<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Display The Title In The Tab-->

    <title>Gran Turismo</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">

    <!--Linking CSS And Java Script-->
    
    <link rel="stylesheet" href="../CSS/style.css">

</head>

<!--Body Of The Page-->

<body>

    <!--Headings [H1 to H6] [Size <--]-->

    <h1>
        GRAN TURISMO
    </h1>
    <h2>
        CARS
    </h2>

    <!--List [Ordered/Unordered] For Ordered <ol> For Unordered <ul> Tag-->

    <ul>
        <li>NISSAN GTR</li>
        <li>BMW M5 CS</li>
        <li>PORSCHE 911</li>
        <li>PAGANI HUAYRA</li>
        <li>KOENIGSEGG AGERA</li>
        <li>LEXUS IS 500</li>
        <li>MAYBACH S 680</li>
    </ul>

    <hr>    <!--Tag To Display A Horizontal Line-->

    <h2>
        HOW TO DRIVE
    </h2>

    <!--Type Attribute For Ordered List-->

    <ol type="A">
        <li>CHECK FOR NEUTRAL</li>
        <li>PRESS CLUTCH</li>
        <li>PUSH START</li>
        <li>CHANGE TO 1<sup>st</sup> GEAR</li>
        <li>RELEASE CLUTCH WITH GAS</li>
        <li>CHANGE GEARS ACC TO SPEED</li>
        <li>STEER WHERE YOU WANT TO GO</li>
        <li>APPLY BRAKE TO SLOW</li>
        <li>PRESS CLUTCH TO STOP</li>
    </ol>

    <!--Links-->

    <hr>
    <a class="main_page" href="https://www.gran-turismo.com/us/" target="_blank">GRAN TURISMO</a>
    <!--In a tag Text is Placed Which Contains The Link-->
    <!--More Pages Can Be Used To Navigate Through Different Pages-->
    <!--href has link and target defines Whether the link will open in new tab or current page-->

    <!--Relative Documents-->

    <hr>

    <div class="background">
        <h2 class="brochure">
            BROCHURES 😊
        </h2>
    </div>

    <a class="br_link" href="../Brochure/GT-R_Brochure.pdf" target="_blank">NISSAN GTR</a>
    <br>
    <a class="br_link" href="../Brochure/BMW-M5 Brochure.pdf" target="_blank">BMW M5 CS</a>
    <br>
    <a class="br_link" href="../Brochure/911-  Brochure.pdf" target="_blank">PORSCHE 911</a>
    <br>
    <a class="br_link" href="../Brochure/HUAYRA_Brochure.pdf" target="_blank">PAGANI HUAYRA</a>
    <br>
    <a class="br_link" href="../Brochure/Koenigsegg-Brochure.pdf" target="_blank">KOENIGSEGG AGERA</a>
    <br>
    <a class="br_link" href="../Brochure/IS 500 - Brochure.pdf" target="_blank">LEXUS IS 500</a>
    <br>
    <a class="br_link" href="../Brochure/S 680 - Brochure.pdf" target="_blank">MAYBACH S 680</a>
    <br>
    <br>

    <fieldset>
        <legend>&nbsp;SPECS&nbsp;</legend>
            <a class="specs" href="../HTML/specs.html" SPECS target="_blank">VIEW SPECS</a>
    </fieldset>

    <h3 class="form">MENMBERSHIP FORM</h3>
    <a href="../HTML/form.html" target="_blank">BECOME GRAN TURISMO MEMBER</a>
    
</body>
</html>