<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Specifications</title>

    <link rel="stylesheet" href="../CSS/style.css">
</head>
<body>

    <h2 class="spechead">SPECIFICATIONS --></h2>

    <br>

    <table class="table">

        <thead class="tb_head">
            <tr>
                <th class="head">Car</th>
                <th class="head">Engine</th>
                <th class="head">Power</th>
                <th class="head">Torque</th>
                <th class="head">Price</th>
            </tr>
        </thead>

        <tbody class="tb_body"> 
            <tr>
                <td>NISSAN GTR</td>
                <td>3.8L TW Turbo V6</td>
                <td class="power">600 HP</td>
                <td class="torque">652 NM</td>
                <td>$ 210000</td>
            </tr>
            <tr>
                <td>BMW M5 CS</td>
                <td>4.4L TW Turbo V8</td>
                <td class="power">627 HP</td>
                <td class="torque">553 NM</td>
                <td>$ 142000</td>
            </tr>
            <tr>
                <td>PORSCHE 911</td>
                <td>4.0L TW Turbo FL6</td>
                <td class="power">678 HP</td>
                <td class="torque">746 NM</td>
                <td>$ 170000</td>
            </tr>
            <tr>
                <td>PAGANI HUAYRA</td>
                <td>6.0L TW Turbo V12</td>
                <td class="power">800 HP</td>
                <td class="torque">811 NM</td>
                <td>$ 3400000</td>
            </tr>
            <tr>
                <td>KOENIGSEGG AGERA</td>
                <td>5.0L TW Turbo V8</td>
                <td class="power">947 HP</td>
                <td class="torque">1400 NM</td>
                <td>$ 3000000</td>
            </tr>
            <tr>
                <td>LEXUS IS 500</td>
                <td>5.0L Natural V8</td>
                <td class="power">472 HP</td>
                <td class="torque">395 NM</td>
                <td>$ 56500</td>
            </tr>
            <tr>
                <td>MAYBACH S 680</td>
                <td>6.0L TW Turbo V12</td>
                <td class="power">621 HP</td>
                <td class="torque">738 NM</td>
                <td>$ 204000</td>
            </tr>
        </tbody>

    </table>

</body>
</html>